@keyframes hotspot-dot-animation {
    0% {
        transform: scale(0);
    }

    55% {
        transform: scale(1);
        opacity: 1;
    }

    75% {
        transform: scale(1);
        opacity: 0;
    }

    100% {
        transform: scale(0);
        opacity: 0;
    }
}

@keyframes active-hotspot-animation {
    0% {
        transform: scale(1);
    }

    55% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

figure {
    margin: 0;
}

.hotspot-image {
    display: block;
    opacity:.99;
}

.hotspot-image__image {
    position: relative;
}

    .hotspot-image__image img {
        display: block;
    }

.hotspot-image__hotspot {
    position: absolute;
    display: inline-block;
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
}

    .hotspot-image__hotspot::before {
        content: "";
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: block;
        border-radius: 50%;
        opacity: 0.75;
        background: transparent;
        border: 5px solid #fff;
        box-shadow: 0 0 10px #333;
        box-sizing: border-box;
        position: relative;
        transition: border 1s ease-in, background 1s ease-in-out;
    }

    .hotspot-image__hotspot::after {
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background: #fff;
        position: absolute;
        left: 0;
        top: 0;
        -ms-transform: scale(0);
        transform: scale(0);
        border-radius: 50%;
        box-sizing: border-box;
    }

    .hotspot-image__hotspot:hover::after {
        animation-name: hotspot-dot-animation;
        animation-iteration-count: infinite;
        animation-duration: 1.5s;
    }

.hotspot-image__hotspot--active::before {
    opacity: 1;
    animation-name: active-hotspot-animation;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.hotspot-image__hotspot--large {
    -ms-transform: scale(2);
    transform: scale(2);
}

.hotspot-image__description {
    background: #222;
    color: #fff;
    padding: 20px;
}

.hotspot-image__hotspots {
    display: block;
}

.hotspot-item {
    display: -ms-flexbox;
    display: flex;
    background: #f1f1f1;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: no-wrap;
    flex-wrap: no-wrap;
}

.hotspot-item__icon {
    width: 150px;
    height: 150px;
    -ms-flex-positive: 0;
    flex-grow: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 10px;
}

.hotspot-item__content {
    padding: 10px 20px;
}

.hotspot-controls {
    font-size: 16px;
    display: none;
}

.hotspot-controls__activate {
    background: #1a5d04;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

    .hotspot-controls__activate:hover {
        background: #288e06;
    }

.hotspot-controls__deactivate {
    background: #cc0000;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    display: inline-block;
}

    .hotspot-controls__deactivate:hover {
        background: #f00;
    }

.on-page-editor .hotspot-controls {
    display: block;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    -ms-transform: translate(-20px, -20px);
    transform: translate(-20px, -20px);
}

.fa-info-circle:before {
    content: "";
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
    border-radius: 50%;
    opacity: 0.75;
    background: transparent;
    border: 5px;
    /* box-shadow: 0 0 10px #333; */
    box-sizing: border-box;
    position: relative;
    transition: border 1s ease-in, background 1s ease-in-out;
}

.drag-info {
    color: #197ee3;
    display: inline-block;
    font-size: 40px;
    height: 40px;
    width: 40px;
}


/*Hotspot in preview mode*/


.HotspotPlugin_image {
    position: relative;
    display: inline-block;
}

/*
* Hotspot message
* 
*/
.HotspotPlugin_Hotspot > div {
    width: 300px;
    height: 40px;
    display: none;
    position: absolute;
    top: -60px;
    /*left: -120px;*/
    /* Required */
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.18);
}

/*.Hotspot_Message:after {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #cdedfa;
    border-top: 10px solid #cdedfa;
    border-bottom: 10px solid transparent;
    bottom: -21px;
    left: 105px;
}*/

.HotspotPlugin_Hotspot:hover > div {
    display: block; /* Required */
}

.HotspotPlugin_Hotspot > div > .Hotspot_Title {
    background-color: #474b55;
    color: #fff;
    padding: 30px 0 24px 30px;
    border: 1px solid #474b55;
    position: relative;
    font-family: "roboto-condensed-bold";
    font-size: 18px;
}

    .HotspotPlugin_Hotspot > div > .Hotspot_Title:after {
        position: absolute;
        right: 10px;
        font: normal normal normal 14px/1 FontAwesome;
        top: 5px;
        color: #898f9e;
        content: "\f00d";
        font-size: 18px;
    }

.HotspotPlugin_Hotspot > div > .Hotspot_Message {
    margin-top: 0;
    padding: 4px 10px;
    height: auto;
    /* overflow-y: auto; */
    color: #4a4a4a;
    line-height: 1.5em;
    padding: 20px 26px 20px 30px;
    text-align: left;
    font-family: "roboto-regular";
    font-size: 16px;
    background-color: #fff;
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.18);
}

/*
* Hotspots
* 
*/
.fa {
    color: #197ee3;
    font-size: 24px;
}

.HotspotPlugin_Hotspot.fa.fa-question-circle {
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    z-index: 200;
    margin-left: -10px;
    margin-top: -10px;
    font-size: 40px;
}


/*
* Hotspots immediately after creation - admin-mode
* 
*/
.HotspotPlugin_inc {
    background: #4E6FF3;
}

/*
* Overlay used in the admin-mode
* 
*/
span.HotspotPlugin_Overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    top: 0px;
    left: 0px;
    cursor: pointer;
}

    span.HotspotPlugin_Overlay > p {
        color: #ffffff;
        background: rgba(255, 255, 255, 0.4);
        margin-top: 0px;
        padding: 20px;
        text-align: center;
    }

/*
* Buttons - admin-mode
* 
*/
button.HotspotPlugin_Done {
    position: absolute;
    right: -120px;
    bottom: 38px;
}

button.HotspotPlugin_Remove {
    position: absolute;
    right: -120px;
    bottom: 2px;
}

button.HotspotPlugin_Server {
    position: absolute;
    right: -120px;
    bottom: 74px;
}

@media (max-width: 768px) {
    .HotspotPlugin_Hotspot > div {
        width: 200px;
    }

        .HotspotPlugin_Hotspot > div > .Hotspot_Title {
            font-size: 14px;
        }

        .HotspotPlugin_Hotspot > div > .Hotspot_Message {
            font-size: 12px;
        }
}

ul.tabs-heading {
    overflow: inherit !important;
}